* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.header {
  margin: 2rem 2rem;
}

.text-container {
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
}

.results {
  margin: 2rem 2rem;
  background-color: aquamarine;
}

#timer {
  font-size: 2rem;
}
